<div class="header">
  <h1>
  {{ title }}!
  </h1>
</div>
<div class="bg">

</div>
<div class="panelWrapper" [ngClass]="show ? 'open' : 'close'"
  (mouseenter)="show = true" (mouseleave)="show = false"
>
  <ul class="panel">
    <li *ngFor="let tab of arrTabs; let i=index" [value]="tab.id"
        [ngClass]="['panelMenu',
        id === tab.id && show ? 'underline' : '',
        inProgress ? 'inProgressTab' : '']"
        (mouseenter)="onMouseEnter($event)"
        (click)="onClickMenu($event)"
    >
      <div class="completedGlyph" *ngIf="completed">Complete</div>
      <div class="tabNameHolder">
        <div
        [ngClass]="['numberGlyph',  inProgress ? 'inProgressGlyph' : '',
        completed ? 'completed' : '']"
        >{{i+1}}</div>
        <p class="tabName">{{tab.tabName}}</p>
      </div>
    </li>
    <div *ngFor="let tab of arrTabs; let i=index"
      [ngClass]="show ? 'isVisble' : 'notVisible'"
    >
      <div class="subPanel">
        <ul class="subPanelWrapper" *ngIf="id === tab.id">
          <li class="subPanelMenu"
          [id]="subTab.id"
          [attr.data-parent]="tab.id"
          (click)="onClickSubMenu($event)"
          *ngFor="let subTab of tab.subItems; let j=index">
            <div>{{j+1}}</div>
            <p [id]="subTab.id" [attr.parentId]="tab.id"
            class="tabName">{{subTab.item}}</p>
          </li>
        </ul>
      </div>
    </div>
  </ul>
</div>

